.product-box {
    background: var(--primary);
    border-radius: 5rem;
    position: relative;
    cursor: pointer;
    transition: all .2s ease;
}

.product-box:hover{
    transform: translateY(-1rem);
}

.product-box__img{
    width: 100%;
}

.product-box__content {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 0 0 5rem 5rem;
    min-height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
}

.product-box:hover .product-box__content{
    background: rgba(255, 255, 255, 0.30);
}

.product-box__button {
    position: absolute;
    right: 2rem;
    bottom: 7rem;
    cursor: pointer;
    transition: all .2s ease;
}

.product-box__button:hover{
    transform: scale(1.1);
}

.product-box__title{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
}

.product-box__title-divide{
    width: 0.15rem;
    height: 2rem;
    background: linear-gradient(rgba(109, 84, 74, 0), rgba(181, 145, 131, 1), rgba(109, 84, 74, 0));
}